@import "tailwindcss";

@theme {
  --color-primary: #0b50da;
  --color-primary-hover: #0941b3;
  --color-text-main: #0f172a;
  --color-text-secondary: #64748b;
  --color-surface-light: #f8fafc;
  --color-surface-dark: #1e293b;
  --color-background-light: #ffffff;
  --color-background-dark: #101622;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}